<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,470}</string>
                <key>spriteSourceSize</key>
                <string>{520,470}</string>
                <key>textureRect</key>
                <string>{{910,630},{520,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{460,530}</string>
                <key>spriteSourceSize</key>
                <string>{460,530}</string>
                <key>textureRect</key>
                <string>{{450,630},{460,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{400,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,600}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1500,0},{400,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,300}</string>
                <key>spriteSourceSize</key>
                <string>{580,300}</string>
                <key>textureRect</key>
                <string>{{1430,630},{580,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hammer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,500}</string>
                <key>spriteSourceSize</key>
                <string>{350,500}</string>
                <key>textureRect</key>
                <string>{{750,0},{350,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,400}</string>
                <key>spriteSourceSize</key>
                <string>{200,400}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,280}</string>
                <key>spriteSourceSize</key>
                <string>{200,280}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,400}</string>
                <key>spriteSourceSize</key>
                <string>{450,400}</string>
                <key>textureRect</key>
                <string>{{0,630},{450,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,630}</string>
                <key>spriteSourceSize</key>
                <string>{400,630}</string>
                <key>textureRect</key>
                <string>{{1100,0},{400,630}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Item.png</string>
            <key>size</key>
            <string>{2010,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539ceb49e65301c72104c29cbcd8c064:f9baf80ce5aba9cbe03c149aef1fac95:eb41154dee1bc01d711a38924ec169e0$</string>
            <key>textureFileName</key>
            <string>Item.png</string>
        </dict>
    </dict>
</plist>
