<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_all_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{120,74}</string>
                <key>spriteSize</key>
                <string>{228,171}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{904,1145},{228,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,27}</string>
                <key>spriteSize</key>
                <string>{454,265}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1,1},{454,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,24}</string>
                <key>spriteSize</key>
                <string>{430,271}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1,457},{430,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,0}</string>
                <key>spriteSize</key>
                <string>{426,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{268,1},{426,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{406,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{262,889},{406,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{396,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{557,429},{396,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,0}</string>
                <key>spriteSize</key>
                <string>{384,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{583,827},{384,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,0}</string>
                <key>spriteSize</key>
                <string>{378,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{910,1},{378,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,0}</string>
                <key>spriteSize</key>
                <string>{380,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{878,391},{380,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{322,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1225,735},{322,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{334,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1231,1},{334,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{352,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1199,381},{352,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{370,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{904,773},{370,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,0}</string>
                <key>spriteSize</key>
                <string>{388,319}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{589,1},{388,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,5}</string>
                <key>spriteSize</key>
                <string>{406,281}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{274,429},{406,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-7}</string>
                <key>spriteSize</key>
                <string>{414,259}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1,889},{414,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-4}</string>
                <key>spriteSize</key>
                <string>{286,201}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1343,1059},{286,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-41}</string>
                <key>spriteSize</key>
                <string>{266,219}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1546,1139},{266,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-60}</string>
                <key>spriteSize</key>
                <string>{260,199}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1546,611},{260,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-64}</string>
                <key>spriteSize</key>
                <string>{262,191}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1814,1070},{262,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-64}</string>
                <key>spriteSize</key>
                <string>{264,191}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1546,873},{264,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-63}</string>
                <key>spriteSize</key>
                <string>{268,193}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1552,1},{268,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-62}</string>
                <key>spriteSize</key>
                <string>{270,195}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1747,652},{270,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,-57}</string>
                <key>spriteSize</key>
                <string>{272,205}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1747,220},{272,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-51}</string>
                <key>spriteSize</key>
                <string>{272,217}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1747,1},{272,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-47}</string>
                <key>spriteSize</key>
                <string>{272,225}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1520,337},{272,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_all_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-48}</string>
                <key>spriteSize</key>
                <string>{270,223}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1747,427},{270,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-50}</string>
                <key>spriteSize</key>
                <string>{268,219}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1747,849},{268,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_all_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-46}</string>
                <key>spriteSize</key>
                <string>{264,227}</string>
                <key>spriteSourceSize</key>
                <string>{574,319}</string>
                <key>textureRect</key>
                <string>{{1077,1145},{264,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon.png</string>
            <key>size</key>
            <string>{2020,1374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789a8ea1a0ee747ed954c9b9f7006d12:89649079c6a6a087351db003c76bde68:c4903a2f537cac14b0fcef7b8429e510$</string>
            <key>textureFileName</key>
            <string>dragon.png</string>
        </dict>
    </dict>
</plist>
