<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>play_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,360}</string>
                <key>spriteSourceSize</key>
                <string>{250,400}</string>
                <key>textureRect</key>
                <string>{{1,365},{250,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,360}</string>
                <key>spriteSourceSize</key>
                <string>{250,400}</string>
                <key>textureRect</key>
                <string>{{1,727},{250,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,362}</string>
                <key>spriteSourceSize</key>
                <string>{250,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{252,1088}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b91dab8dfb2c1b690e56d6cdfb7ea33:b76ac2ff24376cf3dd5e82994bab82ac:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
